<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastTypo</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/resultgrid.css">
    <link rel="shortcut icon" href="favico.png">
    <meta name="referrer" content="strict-origin" />
</head>
<body>
    <div class="title">
        <div class="title-letter">F</div>
        <div class="title-letter">a</div>
        <div class="title-letter">s</div>
        <div class="title-letter">t</div>
        <div class="title-letter">T</div>
        <div class="title-letter">y</div>
        <div class="title-letter">p</div>
        <div class="title-letter">o</div>
    </div>
    <nav class="navbar">
        <ul class="topnav">
            <li><a href="#home" id="homebtn">Home</a></li>
            <li class="dropdown-li"><a href="#cat">Challanges</a>
                <ul class="dropdown">
                    <li><a href="#normal" id="normal-mode-topbar">Normal Mode</a></li>
                    <li><a href="#mistake" id="mistake-mode-topbar">No mistake</a></li>
                    <li><a href="#visibility" id="visibility-mode-topbar">No visibility</a></li>
                </ul>
            </li>
            <li><a href="#panel" id="adminpanel" onclick="setAdminPanel()">Admin Panel</a></li>
            <li><a href="#contact" id="contactpg">Contact</a></li>
            <li><a href="#login" id="logout" onclick="logout()">Logout</a></li>
        </ul> 
    </nav>
    <br>
    <article class="info" id="content">
        
    </article>
    <footer class="bottom">
        <h1>Made with <img src="images/heart.png" height="30" width="30"> by FoxBlood</h1>
    </footer>
    <script src="js/game.js"></script>
    <script src="js/admin.js"></script>
    <script src="js/interchange.js"></script>
</body>
</html>